.fetching{
    display: none;
    margin-top: 25%;
}

select {
    display: block!important;
}

.footer-address {
    font-size: 11px;
}

.dropdown-menu {
    z-index: 2000;
}

.sky-gradient {
    background: -webkit-linear-gradient(50deg, #2096ff, cyan) !important;
    background: -o-linear-gradient(50deg, #2096ff, cyan) !important;
    background: linear-gradient(40deg, #2096ff, cyan) !important;
}

.checkbox-cyan [type="checkbox"]:checked+label:before {
    border-color: transparent dodgerblue deepskyblue transparent!important;
}

.card-cascade .card-text {
    min-height: 92px;
    max-height: 92px;
}

.card-text {
    overflow: hidden;
    white-space: inherit;
    text-overflow: ellipsis;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, .2);
}