.fetching{
    display: none;
    margin-top: 25%;
}

select {
    display: block!important;
}

.footer-address {
    font-size: 11px;
}

.dropdown-menu {
    z-index: 2000;
}

.sky-gradient {
    background: -webkit-linear-gradient(50deg, #2096ff, cyan) !important;
    background: -o-linear-gradient(50deg, #2096ff, cyan) !important;
    background: linear-gradient(40deg, #2096ff, cyan) !important;
}

.checkbox-cyan [type="checkbox"]:checked+label:before {
    border-color: transparent dodgerblue deepskyblue transparent!important;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-cascade .card-text {
    min-height: 92px;
    max-height: 92px;
}

.card-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, .2);
}

.light-cyan-text {
    color: cyan;
}

.black-skin .side-nav .collapsible li .collapsible-header.active {
    color: white;
}

.logo-sn {
    background-color: rgba(0, 0, 0, .2);
}

.black-skin .side-nav .collapsible li .collapsible-body a:hover {
    color: white;
}



[v-cloak] { display:none; }

/** ELEGANT FORM **/

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
    /*color: #2196f3!important;*/
}

.facebook-login {
    text-transform: none;
}

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400;
}

/** ELEGANT FORM **/


.dismiss-favorite {
    position: absolute;
    top: -20px;
    right: -5px;
}

.col-md-4 .card-img-top {
    height: 225px;
}

.col-lg-4 .card-img-top {
    height: 176px;
}

.product-img, .job-img {
    min-height: 176px;
    max-height: 225px;
    background-size: cover;
    background-position: center center;
}

.col-md-4 .product-img, .col-md-4 .job-img {
    height: 225px;
}

.col-lg-4 .product-img, .col-lg-4 .job-img {
    height: 176px;
}

.client-menu {
    position: relative;
    z-index: 10;
    height: calc(100vh + 400px);
}

/*.zoom img {
    max-height: 400px;
}*/

@media only screen and (max-width: 770px){
    .client-menu {
        position: relative;
        z-index: 10;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 910px){
    .client-menu .rotate-icon {
        display: none;
    }
}

.phones {
    min-height: 50px;
}

.btn-edit {
    padding: 5px;
    width: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

.btn-cancel {
    padding: 5px;
    width: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

.info-edit {
    display: none;
}

.side-nav .collapsible .fas {
    font-size: .8rem;
    margin-right: 13px;
}

.invalid-feedback {
    display: block;
}

@media (max-width: 1199px) {
    .nav-item a span {
        display: none;
    }
}

[type=checkbox] + label, [type=radio] + label {
    font-size: 0.9rem;
}

fieldset#speciality {
    max-height: 300px;
    overflow-y: scroll;
}

@media (max-width: 766px) {
    .property-section, .rate-section {
        text-align: center;
    }

    .property-description p {
        padding-left: 3%;
    }

    .card-body .divider {
        display: none;
    }
}

.card-ecommerce ul.rating li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}






